History/
3dModels/*.SLDPRT

3dModels/*.stl
3dModels/*/
SamacSys.ERR
SamacSys.cmp
SamacSys.csv
SamacSys.ico
SamacSys.png
SamacSys.rep
SamacSys_Images
Temp/
Uninstall Altium Library Loader.lnk
__Previews/
defs.MMsdft
defs.dft
